<h1>Git Search</h1>

<app-git-form (issearch)="searchGit($event)" (isrepossearch)="repoSearch($event)"></app-git-form>
<div class="card">
  <div class="card-body">
    <img style="width:20%;height:20%"class="card-img-top product-image" src="{{gitUsers.avatar_url}}" alt="User's avatar">
    <h5 class="card-title"> Github User Name: {{gitUsers.login}}</h5>
    <p class="card-text">Bio: {{gitUsers.bio}}</p>
    <p class="card-text">Location: {{gitUsers.location}}</p>
    <p class="card-text">Repository Numbers: {{gitUsers.public_repos}}</p>
    <p class="card-text">Followers: {{gitUsers.followers}}</p>
    <p class="card-text">Account created on: {{gitUsers.created_at|date|uppercase}}</p>
  </div>
</div>

  <h2>Git Repositories</h2>

  <div *ngIf='repositories'>
    <div *ngFor='let repository of repositories'>

      <p>Repo Name:{{repository.name}}</p>
      <p>Description:={{repository.description}}</p>

    </div>
  </div>